InnguzApp/Connected Services/InnguzWC/usuario2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54812/usuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InnguzAppWS" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InnguzAppWS" minOccurs="0" name="modelo" nillable="true" type="q1:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InnguzAppWS" minOccurs="0" name="LoginResult" nillable="true" type="q2:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>